@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300;400;600&family=Source+Sans+Pro:wght@300;600;900&display=swap');

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* navbar */
.nav-bar {
  background-color: #C864A4;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-logo a{
  color: #010141;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.nav-list a {
  justify-content: center;
  align-content: center;
  display: inline-block;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  color: #010141;
}

/* about me */

.about {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 48px 0;
  justify-content: space-between;
}

#profile {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: 0px 0px;
  border-radius: 50%;
}

.profile-img {
 display: flex;
}

.about-info {
  width: 70%;
}

/* Background */


.container.my-background {
  margin: 70px auto 100px ;
}

.cards {
  display: flex;
}

.skill {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 4px;
}

.background-card {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px 12px 30px;
  margin: 4px;
  text-align: center;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-name {
  flex: 1;
}

.background-card h3 {
  letter-spacing: 3px;
}

.btn-skills{
  background-color: #010141;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-style: none;
  border-radius: 4px;
  padding: 8px 54px;
  display: inline-block;
}

.btn-skills:hover {
  background-color: #C864A4;
  color: #010141;
}

/* footer */

.footer {
  background-image: url("../assets/images/wave.svg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact-list {
  padding: 0;
}

.contact-list li {
  font-size: 3.7rem;
  list-style: none;
}

.contact-list a {
  color: #00005c;
  margin: 0 12px;
}

/* media queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .about-info {
    margin-left: 1.5rem;
  }

  #aliadas {
    object-fit: scale-down;
    object-position: 0 0;
  }

  .btn-skills {
    font-size: 12px;
    padding: 8px 46px;
  }


}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  h1 {
    font-size: 2rem;
  }
  .container {
    width: 500px;
  }

  .about {
    flex-direction: column;
    margin: 30px 0;

  }

  .about-info {
    width: 100%;
    margin: 0;
  }

  .container.my-background {
    margin: 30px auto 100px;
  }

  .cards {
    margin-top: 30px;
  }

  .skill {
    width: 100%;
    height: 156px;

    object-fit: cover;
    border-radius: 4px;
  }

  #fashion {
    object-position: 0 -60px;
  }
  #aliadas {
    object-position: 37px 3spx;
    object-fit: scale-down;
  }

  .background-card > h3 {
    font-size: 1rem;
    margin: 20px 0 ;
  }

}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;

  }
  .container {
    width: 300px;
  }
  .nav-list {
    display: block;
    text-align: center;
  }

  .nav-list li {
    padding: 0px 8px;
  }

  .nav-list a {
    padding: 0 20px;
    font-weight: 400;
    color: #010141;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin-top: 3rem;
  }

  .background-card {
    padding: 18px;
  }

  #fashion {
    object-position: 0 -106px;
  }
  #aliadas {
    object-position: 0 -30px;
    object-fit: cover;
  }

  .contact-list li {
    font-size: 3.2rem;
    list-style: none;
  }

  .contact-list a {
    color: #010141;
    margin: 0 6px;
  }

  .about-info {
    margin-top: 2rem;
  }
}
