
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&family=Source+Sans+Pro:wght@300;600;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300&family=Source+Sans+Pro:wght@300;600;900&display=swap');

body {
  margin: 0;
  line-height: 1.6;
  background: #010141;
  color: white;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 50px auto;
  text-align: center;
}

.main-container {
  margin-top: 50px;
  padding: 20px 0;
}

/* Top container */

.top h1{
  letter-spacing: 38px;
  font-size: 70px;
}

#greeting {
  font-family: 'Engagement', cursive;
  font-size: 50px;
  padding: 30px;
}

.description {
  line-height: 3rem;
}

.top p {
  font-size: 22px;
  opacity: 0.7;
}
.web {
  font-size: 32px;
  opacity: 1;
}

/* Middle container */
.middle {
  margin: 75px auto;
}

.middle h2 {
  font-size: 32px;
  letter-spacing: 12px;

}

.menu {
  margin: 90px auto;
}

.menu-list {
  padding: 0;
}

.menu-list li {
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  background-color:#A88A00 ;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  margin: 0 4rem;
  color: #010141;
  transition: all 0.3s ease-in-out;
}

.menu-list li:hover {
  background-color: #010141 ;
  color: #A88A00;
  border: 1px solid ;
  transform: scale(1.1);
}

/* footer */

.footer {
  background-image: url("../assets/images/wave.svg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.contact {
  /* display: flex;
  justify-content: center;
  margin: 170px auto; */
}

.contact-list {
  padding: 0;
}

.contact-list li {
  font-size: 3.7rem;
  list-style: none;
}

.contact-list a {
  color: #010141;
  margin: 0 12;
}

/* media queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .top h1 {
    letter-spacing: 38px;
    font-size: 3.5rem;
  }
  .menu-list li {
    margin: 12px 24px;
  }


}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  .container {
    width: 500px;
  }
  .main-container {
    margin-top: 40px;
  }

  .top h1 {
    letter-spacing: 38px;
    font-size: 2.6rem;
  }

  .menu-list {
    display: inline;
  }

  .menu-list li {

    margin: 30px 24px;
  }

  .menu-list li a {

    margin: 12px 24px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .top h1 {
    font-size: 1.9rem;
    letter-spacing: 12px;
  }

  #greeting {
    font-family: 'Engagement', cursive;
    font-size: 50px;
    padding: 30px;
  }

}
