@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300&family=Source+Sans+Pro:wght@300;600;900&display=swap');

@import url('../css/pages/about.css');
@import url('../css/pages/resume.css');
@import url('../css/pages/project.css');
@import url('../css/pages/le-wagon-final-project.css');
@import url('../css/pages/udemy.css');

@import url('../css/components/navbar.css');
@import url('../css/components/container.css');
@import url('../css/components/footer.css');
@import url('../css/components/button.css');
@import url('../css/components/cards.css');

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  color: #010141;
}

/* background */

.background-white {
  background-color: white ;
}

.background-blue {
  background-color: #010141;
}

.main-container {
  width: 1000;
  text-align: center;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Top container */

.top h1{
  letter-spacing: 24px;
  font-size: 2.7rem;
  margin: 0 auto 0;
  color: white;
}

#greeting {
  font-family: 'Engagement', cursive;
  font-size: 36px;
  margin: 30px 36px;
}

.container .description {
  font-size: 18px;
  opacity: 0.7;
  line-height: 1.9rem;
  margin: 12px 28px;
  color: white;
  text-align: center;
}

/* Middle container */
.middle {
  margin: 0 auto;
  text-align: center;
}

.middle h2 {
  font-size: 24px;
  letter-spacing: 9px;
  color: white;
}

.menu {
  margin: 30px auto;
}

.menu-list {
  padding: 0;
}

.menu-list a {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  background-color:#A88A00 ;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  margin: 0 2.5rem;
  transition: all 0.3s ease-in-out;
  color: #010141;
}

.menu-list a:hover {
  background-color: #010141 ;
  border: 1px solid #A88A00 ;
  transform: scale(1.1);
  color: #A88A00;
}
/* footer */


/* media queries */

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */

  .main-container {
    width: 800px;
  }

  .container .description {
    margin: 24px auto;
  }

  .top h1 {
    letter-spacing: 38px;
    font-size: 2.5rem;
    margin: 50px auto 18px;
  }

  .middle {
    margin-bottom: 24px;
  }

  .menu {
    margin-top: 30px;
  }




}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */

  .main-container {
    margin-top: 40px;
  }

  .top h1 {
    letter-spacing: 38px;
    font-size: 2.6rem;
  }

}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */

  .top h1 {
    font-size: 1.8rem;
    letter-spacing: 12px;
  }

  #greeting {
    font-family: 'Engagement', cursive;
    font-size: 40px;
    padding: 30px;
  }

  .menu-list a {
    margin-bottom: 16px;
  }

}
