@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300;700&family=Source+Sans+Pro:wght@300;600;900&display=swap');

@import url('../css/pages/about.css');
@import url('../css/pages/resume.css');
@import url('../css/pages/project.css');
@import url('../css/pages/le-wagon-final-project.css');
@import url('../css/pages/udemy.css');

@import url('../css/components/navbar.css');
@import url('../css/components/container.css');
@import url('../css/components/footer.css');
@import url('../css/components/button.css');
@import url('../css/components/cards.css');

/* html {
  height: 100%;
} */

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  color: #010141;
}

/* background */
.background-white {
  background-color: white ;
}

.background-blue {
  background-color: #010141;
}

.main-container {
  width: 100%;
  text-align: left;
  color: white;
}

.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

/* Top container */
.main-container h1{
  letter-spacing: 24px;
  font-size: 2.7rem;
  margin: 36px auto 0;
  color: white;
  text-align: center;
}

#greeting {
  font-family: 'Engagement', cursive;
  font-size: 2.8rem;
  /* margin: 10px 36px; */
  color: white;

}

.container #description {
  width: 95%;
  margin: auto;
  font-size: 1.2rem;
  opacity: 0.7;
  line-height: 1.9rem;
  color: white;
  text-align: center;
}

/* Middle container */

#my-work {
  font-size: 1.4rem;
  letter-spacing: 9px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.menu {
  margin: 30px auto 0;
  text-align: center;
}

.menu-list {
  padding: 0;
  margin-bottom: 0;
}

.menu-list a {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  background-color:#A88A00 ;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  margin: 0 2.5rem;
  transition: all 0.3s ease-in-out;
  color: #010141;
}

.menu-list a:hover {
  background-color: #010141 ;
  border: 1px solid #A88A00 ;
  transform: scale(1.1);
  color: #A88A00;
}
/* footer */


/* media queries */
@media (min-width: 768px) and (max-width: 1024px) {

  .main-container {
    width: 95%;
  }

  .container #description {
    margin: 24px auto;
  }

  .main-container h1 {
    letter-spacing: 38px;
    margin: 50px auto 18px;
  }

  .middle {
    margin-bottom: 24px;
  }

  .menu {
    margin: 2rem auto 2rem;
  }
}



@media (min-width: 481px) and (max-width: 767px) {

  .main-container {
    width: 95%;
    margin-top: 40px;
  }

  .main-container h1 {
    letter-spacing: 38px;
    font-size: 2.6rem;
  }

  .menu-list a {
    margin-bottom: 40px;
  }
}

/* devices under 480 */
@media (max-width: 480px) {

  .main-container {
    width: 95%;
  }

  .main-container h1 {
    letter-spacing: 20px;
  }

  #greeting {
    font-family: 'Engagement', cursive;
    font-size: 2rem;
    margin: 40px;
  }

  #my-work {
    margin: 40px;
  }

  .menu-list a {
    margin-bottom: 40px;
  }
}
