@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300;400&family=Source+Sans+Pro:wght@300;600;900&display=swap');

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

/* navbar */
.nav-bar {
  background-color: #C864A4;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #010141;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

#nav-menu li {
  display: flex;
  justify-content: center;
  align-content: center;
  display: inline-block;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
}

.nav-list {
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* projects container */
.projects {
  display: flex;
  justify-content: space-between;
  margin: 32px;
}

.my-projects {
  text-align: center;
  margin: 30px;
}

.project-logo {
  border-radius: 50%;
  height: 150px;
  transition: all 0.5s ease-out;
}

.project-logo:hover {
  transform: scale(1.1);
}
/* footer */

.footer {
  background-image: url("../assets/images/wave.svg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.contact-list {
  padding: 0;
}

.contact-list li {
  font-size: 3.7rem;
  list-style: none;
}

.contact-list a {
  color: #00005c;
  margin: 0 12px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;
  }

  #nav-menu li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
    font-size: 16px;
  }

  .container {
    width: 300px;
  }
  .projects {
    flex-direction: column;
  }
}
