@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300;400;600&family=Source+Sans+Pro:wght@300;600;900&display=swap');

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  background-color: #010141;
}


a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.1rem;
}

.container {
  width: 900px;
  margin: 0 auto 16px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 40px ;
  border-radius: 4px;
}


/* navbar */
.nav-bar {
  background-color: #C864A4;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #010141;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

#nav-menu li {
  display: flex;
  justify-content: center;
  align-content: center;
  display: inline-block;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  color: #010141;
}

.nav-list {
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 24px;
}

/* intro */

.intro {
  margin-top: 50px;
  text-align: center;
}

.intro h1 {
  margin: 0;
  letter-spacing: 2px;
}

.intro p {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color: #A88A00;
}

.media{
  font-size: 20px;
  color: #000000;
  margin: 12px 12px;
}

.media .fa-brands {
  margin-right: 6px;
}

.media:hover {
  color: #C864A4;
}

/* about me */
h2 {
  margin: 0;
}



/* languages */

.languages {
  display: flex;
  justify-content: space-around;
}

.language {
  text-align: center;
  display: inline-block;
}

.language img {
  height: 70px;
  width: 70px;
}

.language h3, p {
  margin: 0;
}

/* education */

.education {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align:center;
  margin: 0 auto;
  height: 150px;
}

.fashion p {
  margin-top: 45px;
}



/* skills */

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.skill h3 {
  margin: 12px 0 8px;
}

.skill p {
  margin: 8px 0 8px;
}


/* work experience */
.work {
  margin-bottom: 100px;
}
.work-experience {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 800px;
  margin: 0 auto 24px;
}

.cv-online {
  text-align: center;
  margin: 40px auto 32px;
}

.button {
  background-color: #010141;
  color: #C864A4;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 24px;
}



/* footer */
.footer {
  background-image: url("../assets/images/wave.svg");
  background-size: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

/* .contact {
  /* display: flex;
  justify-content: center;
  margin: 170px auto; }*/


.contact-list {
  padding: 0;
}

.contact-list li {
  font-size: 3.7rem;
  list-style: none;
}

.contact-list a {
  color: #010141;
  margin: 0 12;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }


  .work-experience {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    margin: 0 auto 24px;
  }

}

@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }

  .intro h1 {
    margin: 0;
    letter-spacing: 2px;
    font-size: 2.9rem;
  }

  .intro p {
    font-size: 16px;
    letter-spacing: 2px;

  }

  .media {
    font-size: 18px;
    color: #000000;
    margin: 12px 12px;
  }


  .education {
    height: 100%;
  }

  .fashion p {
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;
  }

  #nav-menu li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
    font-size: 16px;
  }

  .container {
    width: 300px;
  }
  h1 {
    font-size: 1.9rem;
  }

  .intro p {
    font-size: 15px;
  }

  .media {
    font-size: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }
  .about-me p {
    margin: 36px 12px;

  }

  .languages {
    flex-direction: column;
  }

  .language {
    text-align: center;
    display: inline-block;
    margin-bottom: 32px;
  }

  .language img {
    height: 90px;
    width: 90px;
  }

  .education {
    text-align: center;
    display: inline;
  }

  .skills {
    text-align: center;
  }
  .skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .work-experience {
    display: inline;
  }

  .work-experience ul {
    margin: 24px 0 0 0;
  }
}
