.btn-skills{
  background-color: #010141;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-style: none;
  border-radius: 4px;
  padding: 8px 54px;
  display: inline-block;
  margin-top: 24px;
}

.btn-skills:hover {
  background-color: #C864A4;
  color: #010141;
}
