.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 3rem;
}
#web,
#fashion,
#social {
  margin: 3rem auto 6rem;
}

.card {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.background-img {
  min-height: 250px;
  background-size: cover;
  border-radius: 4px 4px 0;
  background-position: center;

}

#web .background-img {
  background-image: url('../../assets/images/Web.png');
}

#fashion .background-img {
  background-image: url('../../assets/images/fashion.jpg');
}

#social .background-img {
  background-image: url('../../assets/images/aliadas.jpg');
}

.background-card > h3 {
  letter-spacing: 3px;
}

#tin-dog{
  background-image: url("../../assets/images/udemy-TinDog.png");
  background-position: 0px ;
}

#project2 {
  background-image: url('../../assets/images/udemy-design-agency.png');
  background-position-x: 0;
}

.card-title {
  padding: 1.5rem;
}

#udemy-card .card-title {
  margin: 1.5rem auto;
}

.card-title h3 {
  margin-top: 16px;
}

.card-title p {
  margin: 2rem 0;
}
