h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* about me */
#about {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 5rem 0 0 ;
}

#about-me h1 {
  text-align: center;
  padding: 90px 0 ;
}

.profile-img {
  align-self: flex-start;
  margin-top: 12px;
}

#profile {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: 0px 0px;
  border-radius: 50%;
}

.about-info {
  width: 70%;
  color: #ffffff;
}


.about-info h2 {
  margin-bottom: 1.5rem;
  color: white;
}

/* contact me section */
.contact-me {
  margin: 44px;
  display: flex;
  justify-content: space-around;
}

#mail, #resume {
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  margin: 0 2.5rem;
  transition: all 0.3s ease-in-out;
}

.contact-me #resume {
  color: #ffffff;
  border: 1px solid #A88A00 ;
}

#mail {
  background-color: #A88A00;
  color: #010141;
}

.contact-me a:hover {
  color: #010141;
  background-color: #A88A00;
  transform: scale(1.1);
}

#mail:hover {
  background-color: #010141 ;
  border: 1px solid #ffffff;
  transform: scale(1.1);
  color: #A88A00;
}

/* Background */

.container.my-background {
  margin: 5rem auto 3rem;
}

.my-background h2 {
  margin-bottom: 12px;
}

/* media queries */

@media (min-width: 768px) and (max-width: 1024px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .about-me h1 {
    font-size: 2.1rem;
  }

  .about {
    display: block;
  }

  .profile-img {
    float: left;
    margin: 4px 26px;
  }

  .about-info {
    width: auto;
  }

  .contact-me a {
    font-size: 16px;
  }

  .btn-blue {
    font-size: 12px;
    padding: 8px 46px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* For a screen < 720px, this CSS will be read */

  h1 {
    font-size: 2rem;
  }

  #about {
    flex-direction: column;
    padding: 0;
  }

  .profile-img {
    align-self: center;
    margin: 6rem auto;
  }

  .about-info {
    width: 100%;
    margin: 0;
  }

  #mail,
  #resume {
    margin: 0;
  }

  .container.my-background {
    margin: 6rem auto 100px;
  }

  .cards {
    display: block;
  }

  .skill {
    width: 100%;
    height: 156px;
    object-fit: cover;
    border-radius: 4px;
  }

  .background-card > h3 {
    font-size: 1rem;
    margin: 20px 0 ;
  }

}

@media (max-width: 480px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-img {
    align-self: center;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
   display: inline-flex;
   text-align: center;
  }



  #mail {
    margin-top: 20px;
  }

  .container {
    width: 300px;
  }

  .background-card {
    padding: 18px;
  }

  .contact-list li {
    font-size: 3.2rem;
    list-style: none;
  }

  .contact-list a {
    color: #010141;
    margin: 0 6px;
  }

  .about-info {
    margin-top: 2rem;
    text-align: center;
  }
}
