@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Raleway:wght@100;300;400&family=Source+Sans+Pro:wght@300;600;900&display=swap');

h1 {
  font-size: 2.5rem;
}

/* project - about */
.project-about {
  text-align: center;
  margin: 50px auto 0;
}

.project-about > h1 {
  margin: 0 auto 8px;
  color: #3A1996;
}

.project-about > p {
  line-height: 1.6;
  font-size: 18px;
}

.dd-logo {
  border-radius: 50%;
  height: 150px;
}

/* main container */

.final-project {
  margin: 50px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-screen {
  height: 420px;
}

.discount-discover {
  height: 350px;
}

/* product pitch */
.user {
  margin: 80px auto 80px;
  overflow: auto;
}

.container.user {
  margin: 50px auto 30px;
}
.user > h2 {
  margin-top: 0px;
}
.product-pitch {
  /* display: inline-block; */
  width: 450px;
  height: 270px;
  float: right;
}
/* user journey */

.core-journey {
  width: 450px;
  height: 270px;
  float: left;
  margin-right: 20px;
}

#figma > p {
  margin: 24px 0 32px;
}

#figma > iframe {
  margin: 0 auto;
  padding-left: 50px;
  border: none;

}

/* media queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .final-project{
    justify-content: space-around;
  }
  .main {
    margin: 80px auto;
    width: 750px;
  }

  #main-screen {
    height: 360px;
  }
  .discount-discover {
    height: 290px;
  }

  .product-pitch {
    /* display: inline-block; */
    margin-left: 24px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  /* #nav-menu li {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 400;
    font-size: 16px;
  } */

  h1 {
    font-size: 2rem;
  }
  .container {
    width: 500px;
  }

  .product-pitch {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }


  .core-journey {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .user {
    margin: 40px auto 24px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  .container {
    width: 300px;
  }
  .nav-list {
    display: block;
    text-align: center;
  }

  .nav-list li {
    padding: 0px 8px;
  }

  .nav-list a {
    padding: 0 20px;
    font-weight: 400;
    color: #010141;
  }

  #main-screen {
    height: 220px;
  }


  .discount-discover {
    height: 170px;
  }


  .final-project{
    justify-content: space-around;
  }

  .main {
    margin: 30px auto;
    width: 350px;
  }

  
}
