h1 {
  font-size: 2.5rem;
  color: #010141;
}

.container.main {
  margin-top: 50px;
}

.container.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 32px auto 50px;
}

.container.main a {
  color: #0c0c75;
}

.my-projects {
  text-align: center;
}

.my-projects h3 {
  color: #010141;
}

.project-logo {
  border-radius: 50%;
  height: 150px;
  transition: all 0.5s ease-out;
}

.project-logo:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .skill {
    object-fit: cover;
    object-position: 12px 12px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */

  h1 {
    font-size: 2rem;
  }
  .container {
    width: 500px;
  }

  .cards {
    display: block;
  }
  /* .my-background{
    margin: 30px auto 100px;
  } */
}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;
    text-align: center;
  }

  .image-card {
    margin: 30px 0 30px;
  }

  .container.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin-top: 3rem;
  }

  .container.main h1 {
    margin-bottom: 12px;
  }


}
