h1 {
  font-size: 2.5rem;
}

/* cards */

#udemy-projects {
  margin: 50px auto 50px;
}

#udemy-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#udemy-card {
  width: 45%;
}

.project2 {
  object-position: 3px 3px;
}

#intro-udemy {
  margin-top: 50px;
}

#intro-udemy p {
  font-size: 18px;
  margin-top: 24px;
}

@media (max-width: 992px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  #tin-dog {
    object-position: 0;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */

  h1 {
    font-size: 2rem;
  }
  .container {
    width: 500px;
  }

  .cards {
    display: block;
  }

  #tin-dog {
    object-position: 0;
  }

}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    line-height: 1.9;
    text-align: center;
  }

  .image-card {
    margin: 30px 0 30px;
  }

  #udemy-cards {
    display: flex;
    flex-direction: column;
  }

  #udemy-card {
    align-self: center;
  }

  #tin-dog {
    object-fit: cover;
    object-position: 0;
  }
}
